[Unit]
Description=Niri on %I
After=systemd-user-sessions.service
ConditionPathExists=/dev/tty0
Wants=dbus.socket systemd-logind.service
After=dbus.socket systemd-logind.service
Conflicts=getty@%i.service
After=getty@%i.service

[Service]
Type=simple
WorkingDirectory=/home/user
ExecStart=/usr/bin/niri
Restart=always
User=user
UtmpIdentifier=%I
UtmpMode=user
TTYPath=/dev/%I
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
StandardInput=tty-fail
PAMName=niri

[Install]
WantedBy=graphical.target
DefaultInstance=tty7
